<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>WolfStore WareHouse Distance Measurer</title>
    <meta name="description" content="WolfStore WareHouse Distance Measurer">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet.css') }}">
</head>

<body>
<h1 class="head">Welcome to Wolfstores distance measurer</h1>
<section class="container">

    {% for sensor in sensors %}

        <section class="sensors" id="sens{{ sensor.id }}">
            <p id="sensor{{ sensor.id }}">Distance of sensor {{ sensor.id }}:</p>
        </section>

    {% endfor %}

</section>
<section class="writer">
    <audio id="#beep">
        <source src="{{ url_for('static',filename='Beep.mp3') }}" type="audio/mpeg">
    </audio>
    <button class="writerButton" ready="true">Begin</button>
</section>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static',filename = 'app.js') }}"></script>

<script type="text/javascript">
      setInterval(
          function () {
              guiUpdater();
          },100);
</script>

</body>
</html>